<!DOCTYPE html>
<html>
    <head>
        <meta name="go-import" content="{{.Hostname}}/{{.BasePackage}} git {{.GitInstance}}/{{.BasePackage}}">
        <meta name="go-source" content="{{.Hostname}}/{{.BasePackage}} {{.GitInstance}}/{{.BasePackage}} {{.GitInstance}}/{{.BasePackage}}/tree/{{.Branch}}{/dir} {{.GitInstance}}/{{.BasePackage}}/tree/{{.Branch}}{/dir}/{file}#L{line}">
        <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/{{.Hostname}}/{{.FullPackage}}">
    </head>
    <body>
        Nothing to see here. Please <a href="https://pkg.go.dev/{{.Hostname}}/{{.FullPackage}}">move along</a>.
    </body>
</html>