<!DOCTYPE html>
<html>
    <head>
        <meta name="powered-by" content="https://github.com/StiviiK/go-modules-http-proxy">
        <meta name="go-import" content="{{.Hostname}}/{{.BasePackage}} git {{.GitInstance}}/{{.Namespace}}/{{.BasePackage}}">
        <meta name="go-source" content="{{.Hostname}}/{{.BasePackage}} {{.GitInstance}}/{{.Namespace}}/{{.BasePackage}} {{.GitInstance}}/{{.Namespace}}/{{.BasePackage}}/tree/master{/dir} {{.GitInstance}}/{{.Namespace}}/{{.BasePackage}}/tree/master{/dir}/{file}#L{line}">
        <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/{{.Hostname}}/{{.FullPackage}}">
    </head>
    <body>
        Nothing to see here. Please <a href="https://pkg.go.dev/{{.Hostname}}/{{.FullPackage}}">move along</a>.
    </body>
</html>